body {
  padding-top: 20px;
}

svg {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 20px;
}

.container {
  width: 95%;
  text-align: center;
}

.container > * {
  vertical-align: top;
}

.selector p {
  color: #1a237e;
  font-weight: bold;
}

.tooltip {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  background-color: #e0f2f1;
  border: 3px solid #1976d2;
  border-radius: 4px;
  padding: 1em 1em 0 1em;
}

.tooltip p {
  line-height: 60%;
}

.notes {
  max-width: 350px;
  border: 2px solid black;
  border-radius: 8px;
  display: inline-block;
  text-align: left;
  margin: 20px 0;
  padding: 15px;
}

.notes a {
  font-weight: bold;
}

.definition {
  line-height:75%;
}

.bar {
  fill: #26a69a;
}

.bar:hover {
  fill: #ffa726;
}
